<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASV7NtsCyOsBVnHUm1OHy9NrCp7aZAjDM</string>
	<key>GCM_SENDER_ID</key>
	<string>702479351835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.stylebot.styleview</string>
	<key>PROJECT_ID</key>
	<string>stylemirrorapp</string>
	<key>STORAGE_BUCKET</key>
	<string>stylemirrorapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702479351835:ios:726d3dbd5c8c202707b8be</string>
</dict>
</plist>